@charset "UTF-8";
@import "../common/var";
@import "../common/color";

$default-font-color: #606266;
$default-background-color: #fff;
$default-hover-color: $primary-color;
$default-focus-color: $primary-color;
$default-active-color: #3a8ee6;
$default-disabled-font-color: #c0c4cc;
$default-disabled-background-color: #fff;
$default-disabled-border-color: #ebeef5;

$primary-font-color: #fff;
$primary-background-color: $primary-color;
$primary-hover-color: #66b1ff;
$primary-focus-color: #66b1ff;
$primary-active-color: #3a8ee6;
$primary-disabled-font-color: #fff;
$primary-disabled-background-color: #a0cfff;
$primary-disabled-border-color: #a0cfff;

$danger-font-color: #fff;
$danger-background-color: $danger-color;
$danger-hover-color: #f78989;
$danger-focus-color: #f78989;
$danger-active-color: #dd6161;
$danger-disabled-font-color: #fff;
$danger-disabled-background-color: #fab6b6;
$danger-disabled-border-color: #fab6b6;

.v-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
  height: 32px;
  line-height: 20px;
  font-size: 14px;
  color: $default-font-color;
  padding: 0 1em;
  border-radius: $border-radius;
  border: 1px solid $border-color-base;
  background-color: $default-background-color;
  transition: 0.1s;
  cursor: pointer;
  outline: none;
  user-select: none;
  white-space: nowrap;
  > .v-icon {
    margin-right: 0.2em;
  }
  .loading {
    @include spin;
  }
  & + & {
    margin-left: 8px;
  }
  &:hover {
    color: $default-hover-color;
    border-color: $default-hover-color;
  }
  &:focus {
    color: $default-focus-color;
    border-color: $default-focus-color;
    outline: none;
  }
  &:active {
    color: $default-active-color;
    border-color: $default-active-color;
    outline: none;
  }
  &.disabled {
    color: $default-disabled-font-color;
    cursor: not-allowed;
    background-image: none;
    background-color: $default-disabled-background-color;
    border-color: $default-disabled-border-color;
  }
  &.v-button-primary {
    color: $primary-font-color;
    background-color: $primary-background-color;
    border-color: $primary-background-color;
    &:hover {
      color: $primary-font-color;
      background-color: $primary-hover-color;
      border-color: $primary-hover-color;
    }
    &:focus {
      color: $primary-font-color;
      background-color: $primary-focus-color;
      border-color: $primary-focus-color;
    }
    &:active {
      color: $primary-font-color;
      background-color: $primary-active-color;
      border-color: $primary-active-color;
    }
    &.disabled {
      color: $primary-disabled-font-color;
      background-color: $primary-disabled-background-color;
      border-color: $primary-disabled-border-color;
    }
  }
  &.v-button-dashed {
    border-style: dashed;
  }
  &.v-button-danger {
    color: $danger-font-color;
    background-color: $danger-background-color;
    border-color: $danger-background-color;
    &:hover {
      color: $danger-font-color;
      background-color: $danger-hover-color;
      border-color: $danger-hover-color;
    }
    &:focus {
      color: $danger-font-color;
      background-color: $danger-focus-color;
      border-color: $danger-focus-color;
    }
    &:active {
      color: $danger-font-color;
      background-color: $danger-active-color;
      border-color: $danger-active-color;
    }
    &.disabled {
      color: $danger-disabled-font-color;
      background-color: $danger-disabled-background-color;
      border-color: $danger-disabled-border-color;
    }
  }
}
